---
title: Modons
---
<!DOCTYPE html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link href="/static/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="/style.css"/>
  <title>{{ title }}</title>
</head>
<body>
  {% include "./partials/header.njk" %}
  <main class="relative">
    {{ content | safe }}
  </main>
  {% include "./partials/footer.njk" %}
</body>
<script src="//unpkg.com/alpinejs" defer></script>
</html>
