---
title: Modons
---
<!DOCTYPE html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link href="/static/css/style.css" rel="stylesheet">
  <title>{{ title }}</title>
</head>
<body>
  {% include "./partials/header.njk" %}
  <main class="relative min-h-screen">
    <div class="flex justify-center content-center flex-wrap h-screen bg-gradient-to-b from-zinc-900 to-indigo-800 relative">
      <div class="grid grid-flow-row xl:grid-rows-6 4xl:grid-rows-3">
        <div class="flex justify-center content-center flex-wrap">
          <div class="text-5xl sm:text-7xl md:text-8xl text-slate-300 font-['Minimal'] text--yaku hover:cursor-crosshair">
            <span>m</span>
            <span>o</span>
            <span>d</span>
            <span>o</span>
            <span>n</span>
            <span>s</span>
          </div>
        </div>
        <div class="flex justify-center content-center self-center p-2">
          <p class="text-2xl md:text-3xl tracking-wide text-slate-400 font-extralight small-caps">it security infrastructure</p>
        </div>
        <div class="flex justify-center content-center p-6">
          <button class="rounded-full bg-gradient-to-r from-cyan-500 to-blue-500 py-3 px-5">
            <a class="text-lg md:text-2xl font-light" href="mailto:julian@modons.com?subject=Initial%20Consultation&body=Hi!" target="_blank" rel="noopener noreferrer">Schedule Consultation</a></button>
        </div>
      </div>
      <div class="flex justify-end p-10 3xl:absolute 3xl:bottom-12 3xl:right-2 4xl:bottom-28 4xl:right-32"><img class="w-screen md:w-[50vh]" src="/static/img/network_setup.svg"></div>
    </div>
    <div class="grid auto-rows-min gap-4">
      <div class="md:h-[65vh] flex justify-center content-center px-10 py-16">
        <div class="grid md:grid-cols-3 md:gap-4 md:h-full">
          <div class="flex justify-center content-center"><img src="/static/img/logo-github.svg" alt="" class="w-20 md:w-40"></div>
          <div class="md:col-span-2 md:flex md:content-center md:flex-wrap">
            <h1 class="font-extrabold py-4">About</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>
      <div class="grid md:grid-cols-3 md:gap-4 h-full bg-indigo-200">
        <div class="md:col-span-2 md:col-start-2 flex content-center flex-wrap px-10 py-16">
          <h1 class="font-extrabold pt-4 pb-8">Services</h1>
          <div class="grid md:grid-rows-2 md:grid-cols-2 gap-10">
            {% for item in data.services %}
              <div class="">
                <img src="{{ item.icon }}" alt="Service Icon" class="w-10">
                <h1 class="font-semibold py-4">{{ item.title}}</h1>
                <p>{{ item.description}}</p>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="grid auto-rows-min gap-4 px-10 py-16">
          <h1 class="font-extrabold py-4 md:text-center">Certifications</h1>
          <div class="grid md:grid-flow-col md:auto-cols-max md:justify-center md:p-10 gap-10 h-full">
            {% for item in data.certs %}
              <div class="flex items-center">
                <img src="{{ item.icon }}" alt="Certification Icon" class="w-20">
                <h1 class="font-semibold px-5">{{ item.title}}</h1>
              </div>
            {% endfor %}
          </div>
      </div>
      <div class="bg-indigo-200">
        
      </div>
    </div>
  </main>
  {% include "./partials/footer.njk" %}
</body>
<script src="//unpkg.com/alpinejs" defer></script>
</html>
