<header class="site-header" id="top" role="banner">
  <div class="container">
    <a href="index.html" class="space">
      <img src="images/layout-corners-dashboard-1.png" class="logo" alt="company logo">
    </a>
    <button class="nav-toggle">
      <span class="nav-toggle-text">Menu</span>
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>
    <nav class="main-navigation hidden" role="navigation">
      <ul>
        <li><a href="src/pages/contact.html">Contact</a></li>
        <li><a href="src/pages/sub-page.html">Sub</a></li>
        <li><a href="src/pages/grid.html" target="_blank" rel="noopener">Grid</a></li>
        <li><a href="src/pages/example.html">Example</a></li>
        <li class="main-nav-btn"><a href="">Nav 4</a></li>
      </ul>
    </nav>
  </div>
</header>