<!DOCTYPE html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link href="/static/css/style.css" rel="stylesheet">
  <title>{{ title }}</title>
</head>
<body>
  {% include "../partials/header.njk" %}
  <main class="relative min-h-screen">
    <div class="h-96 grid bg-gradient-to-b from-zinc-900 to-indigo-800 border-solid shadow-xl drop-shadow-xl shadow-indigo-800/40">
      <div class="flex justify-center content-center self-center">
        <div class="text-5xl sm:text-4xl md:text-6xl text-slate-300 font-['Minimal']">{{ title }}</div>
      </div>
    </div>
    <div class="min-h-screen bg-indigo-200">
      <div class="container flex items-center content-center justify-center p-24">
        <div class="md-page">
          {{ content | safe }}
        </div>
      </div>
    </div>
  </main>
  {% include "../partials/footer.njk" %}
</body>
</html>
