---
layout: layouts/base.njk
---

<div class="h-[60vh] p-8 grid bg-indigo-100">
  <div class="grid auto-rows-min gap-5 sm:justify-center sm:content-center self-center">
    <div class="text-5xl sm:text-4xl md:text-6xl text-slate-900 font-extrabold">{{ title }}</div>
    <div class="text-3xl sm:text-2xl md:text-4xl text-slate-900 font-light">{{ tagline }}</div>
  </div>
</div>
<div class="min-h-screen bg-indigo-100">
  {{ content | safe }}
</div>
<div class="h-[60vh] p-8 grid bg-indigo-100">
  <div class="grid auto-rows-min gap-5 sm:justify-center sm:content-center self-center pt-10">
    <div class="text-4xl sm:text-3xl md:text-5xl text-slate-900 font-bold">Can't find what you're looking for?</div>
    <p class="text-2xl sm:text-xl md:text-3xl text-slate-900 font-light"><a href="">Contact us</a> and we'll work on a solution together.</p>
  </div>
</div>