@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .small-caps {
    font-variant: small-caps;
  }

  .text--yaku span {
    display: inline-block;
    position: relative;
    -webkit-transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
    transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
    -webkit-transition: -webkit-transform 0.5s, color 0.5s;
    transition: transform 0.5s, color 0.5s;
  }

  .text--yaku:hover span {
    -webkit-transform: perspective(1000px) rotate3d(0, 1, 0, 360deg);
    transform: perspective(1000px) rotate3d(0, 1, 0, 360deg);
  }

  .text--yaku span:nth-child(4n),
  .text--yaku:hover span:first-child {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }

  .text--yaku span:nth-child(3n),
  .text--yaku:hover span:nth-child(2n) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }

  .text--yaku span:nth-child(2n),
  .text--yaku:hover span:nth-child(3n) {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }

  .text--yaku span:first-child,
  .text--yaku:hover span:nth-child(4n) {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
  }
}

@layer base {
  .md-page h1 {
    display: none;
  }
  .md-page h2 {
    font-size: 2.25rem;
    font-weight: 800;
    letter-spacing: 0.025em;
    line-height: 2.5rem;
    padding-bottom: 1rem;
    color: rgb(39 39 42 / 1); /* .text-zinc-800 */
  }
  .md-page p {
    font-size: 1.5rem;
    line-height: 2rem;
    padding-bottom: 6rem;
  }
  @font-face {
    font-family: 'Minimal';
    src: url('../fonts/MBF-Minimal.ttf') format('embedded-opentype'), /* Internet Explorer */
         url('../fonts/MBF-Minimal.ttf') format('woff2'), /* Super Modern Browsers */
         url('../fonts/MBF-Minimal.ttf') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/MBF-Minimal.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/MBF-Minimal.ttf') format('svg'); /* Legacy iOS */
  }

  p a {
    position: relative;
  }

  p a::before {
    display: inline-block;
    position: absolute;
    width: 100%;
    background: linear-gradient(130deg, #EE6570, #FF4961, #993E4A);
    height: 3px;
    border-radius: 2px;
    top: 100%;
    left: 0;
  }

  p a::before {
    content: '';
    position: absolute;
    background-color: linear-gradient(130deg, #EE6570, #FF4961, #993E4A);
    width: 100%;
    height: 3px;
    border-radius: 2px;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  p a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

}