<footer class="bottom-0 left-0 h-80 w-screen bg-zinc-900">
  <div class="flex justify-center content-center flex-wrap h-60 p-6 lg-px-0 container mx-auto">
    <div class="grid grid-flow-row auto-rows-max grid-rows-2">
      <div class="flex justify-center content-center flex-wrap">
        <a href="https://github.com/jtroncone" target="_blank" rel="noreferrer noopener"><img src="/static/img/logo-github.svg" class="w-11 p-2 invert" alt="GitHub Logo"></a>
        <a href="/" target="_blank" rel="noreferrer noopener"><img src="/static/img/logo-youtube.svg" class="w-11 p-2 invert" alt="YouTube Logo"></a>
        <a href="/" target="_blank" rel="noreferrer noopener"><img src="/static/img/logo-telegram.svg" class="w-11 p-2 invert" alt="Telegram Logo"></a>
      </div>
      <div class="flex justify-center content-center p-2 text-white">
        <small>A website by {{ site.author }} - &copy; {{ site.copyrightYear }}</small>
      </div>
    </div>
  </div>
</footer>