---
layout: layouts/page.njk
---

<div class="overflow-hidden shadow-lg shadow-zinc-900 bg-zinc-700 p-7 lg:p-10 rounded-lg transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
  <div class="flex items-center pb-5">
    <h1 class="flex-1 font-semibold tracking-wide text-slate-100 text-2xl px-4">{{ title}}</h1>
    {# <h1 class="font-extrabold tracking-wide text-zinc-800 text-3xl lg:text-4xl">{{ title }}</h1> #}
  </div>
  <p class="text-lg text-slate-200 flex-wrap">{{ content | safe }}</p>
  {# <p class="text-zinc-800 text-lg md:text-xl py-8">{{ content | safe }}</p> #}
</div>
